<% include ../header.ejs %>
<form class="form-horizontal" method="post" action="/topic/edit">
    <fieldset>
        <legend>编辑微博</legend>
        <div class="control-group">
            <label class="control-label" for="title">标题</label>

            <div class="controls">
                <input type="text" class="input-xlarge" id="title" name="title" value="<%= topic.title %>">
                <input type="hidden" id="topic_id" name="topic_id" value="<%= topic._id %>">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="content">内容</label>

            <div class="controls">
                <textarea class="input-xlarge" id="content" name="content" rows="6">
                    <% if(topic) { %>
                    <%= topic.content %>
                    <% } %>
                </textarea></div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">发表</button>
            <a class="btn btn-primary" href='/topic/delete?topic_id=<%= topic._id %>'>删除</a>
        </div>
    </fieldset>
</form>
<% include ../footer.ejs %>