<% topics.forEach(function(topic, index) {
        if (topic ) { %>
<% if (index % 2 == 0){ %>
<div class="row-fluid">
    <% } %>
    <div class="span6">
        <h2><a href="/topic/<%= topic._id %>"><%= topic.title %></a></h2>

        <p>
            <small><%= topic.create_at %></small>
        </p>
        <p><%= topic.content %></p>
    </div>

    <% if(index % 2 != 0 ){ %>
</div>
<% } %>
<% } %>
<% }) %>
<% if(topics.length % 2 != 0 ){ %>
</div>
<% } %>