<html>
<head>
    <title>Microblog <%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <link href="/public/stylesheets/bootstrap-responsive.css" rel="stylesheet">

</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Microblog</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <% if(!user) { %>
                    <li>
                        <a href="/signin">登入</a>
                    </li>
                    <li>
                        <a href="/signup">注册</a>
                    </li>
                    <% } else { %>
                    <li><a href="/userset">用户设置</a></li>
                    <li><a href="/topic/create">发表文章</a></li>
                    <!--有消息的话，消息字体变色，点击下拉出现消息-->
                    <li class="dropdown">
                        <input type="hidden" value="<%= user._id %>" id="userId"/>
                        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#"
                           href="#" id="msgNum">
                            消息
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="message">

                        </ul>
                    </li>
                    <li><a href="/signout">登出</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="container" class="container">
    <% if (success) { %>
    <div class="alert alert-success">
        <%= success %></div>
    <% } %>
    <% if (error) { %>
    <div class="alert alert-error">
        <%= error %></div>
<% } %>