<% include header.ejs %>
<form class="form-horizontal" method="post" action="/userset" enctype="multipart/form-data">
    <FIELDSET>
        <LEGEND>用户信息设置</LEGEND>
        <div class="control-group">
            <label class="control-label" for="school">学校</label>

            <div class="controls">
                <input type="text" class="input-xlarge" id="school" name="school">

                <p class="help-block">用于找到同校的朋友</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="hobby">兴趣爱好</label>

            <div class="controls">
                <select class="" id="hobby" name="hobby">
                    <option name="hobby" value="sport">体育</option>
                    <option name="hobby" value="art">艺术</option>
                    <option name="hobby" value="game">游戏</option>
                    <option name="hobby" value="study">学习</option>
                </select>

            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="photo">头像</label>

            <div class="controls">
                <input type="file" class="input-xlarge" id="photo" name="photo">
                <input type="hidden" id="user_id" name="user_id" value="<%= user._id %>">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">注册</button>
            <button type="reset" class="btn btn-primary">重置</button>
        </div>
    </FIELDSET>
</form>
<% include footer.ejs %>