body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #3f3f3f;
    color: #999999;
    font-weight: lighter
    font: 20px "WenQuanYi Micro Hei", Helvetica, Arial, sans-serif,;

}

a {
    color: #00B7FF;
}
