<% if (replys != null){ %>
<% replys.forEach(function(reply) {
        if (reply) { %>
<br>
<div class="row-fluid">
    <div class="span12">

        <h4>回复 &nbsp;&nbsp;||&nbsp;&nbsp;作者：<%= reply.nick %></h4>

        <p><%= reply.content %></p>
    </div>
</div><!-- end row -->
<% } %>
<% }) %>
<% } %>